

#bgimg {

   background-image: url(../images/bg.png);
   width:100%;
   height:100vh;
   background-size: cover;
   

}
.colorText{
    color:white;
    text-align: center;
}

.colorText h2{
    margin-top:30px;
    margin-bottom:20px;}

.colorText p{
    margin-bottom:20px;
}

.displayText{
    font-size: 22px;
    font-weight: bold;
    color: gray;
}
